*{padding: 0;margin: 0;}
.container{height: 100vh;
            width: 100vw;
            color:#444;
            background-color: #e6bfb5;
            text-align: center; }
 .card{
    padding-top: 250px;

 } 
 h1{font-size: 75px; margin-bottom: 35px;}
 .SURPRISE span{color:#fc9786;}
 .card a{text-decoration: none;
          background: #eee;
           padding: 5px;
           margin: 5px 10px;
           border:3px solid #ddd;
           border-radius:10px;
}
 #no{color:blue;}
 #yes{color:red;}
        