

body{
    background:white;
    height: 100px;
    margin: 0;

}

.chrismas-card {
     position: relative;
     width: 300px;
     height: 400px;
     border: 10px;
     border-color: blue solid;
     margin: 30px auto 0 auto;
     box-shadow: inset 10px 0px 25px 0px rgba(0, 0, 0, 0.1);
     background-image: linear-gradient(to bottom,rgba(255,255,255),rgb(255,255,255,0.5))
     ,url("https://i5.walmartimages.com/asr/a9ef0dc6-76c1-4c7d-85fd-0e0422cc42b2.d33905ac67e82e17c3dc2887c7fc9b90.jpeg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

.text {
    width: 80%;
    height: 80%;
    margin: auto;
    >p{
        font-size: 1.1em;
        color:black;
        list-style: 1.4;
        font-style: italic;
        margin: 30px auto 0 auto;
    }
.title{
    font-size: 1.5em;
    margin:60px auto 60px auto;
}
}

.cover-outer{
    position: absolute;
    width: 300px;
    height:400px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotate(0deg);
    transition: all 0.8 ease-in-out;
  

   
    
    

    img{
        box-shadow:0px 6px 11px 7px   rgba(0,0,0,0.22);
        border-radius:5px ;
    }
 

}
.cover-inner{
    position:absolute ;
    width: 350px;
    height: 300px solid;
    backface-visibility: visible;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
    transform-style:preserve-3d;
    transform-origin: 0% 50%;
     transform: perspective(800px) rotate(0deg);
    transition: all 0.8 ease-in-out;
    overflow:hidden;
    image{
        transform: rotatey(170deg);
    }
}
}
.chrismas-card:hover{
    .cover-outer{
        transform: perspective(800px) rotateY(-170deg);
    }
}